<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="IOT Synch"
            visible="true"
            id="iot_ui.actionSet">
         <menu
               label="SandTablist"
               id="cn.edu.pku.sei.ra.ui">
            <separator
                  name="iot">
            </separator>
         </menu>
         <action
               label="SynchIOT"
               class="cn.edu.pku.iot.ui.action.IOTSynch"
               tooltip="Hello, Eclipse world"
               menubarPath="cn.edu.pku.sei.ra.ui/iot"
               id="iot_ui.actions.SynchIOT">
         </action>
         <action
               class="cn.edu.pku.iot.ui.action.IOTRegisAppMeta"
               id="iot_ui.actions.SampleAction"
               label="RegisApp"
               menubarPath="cn.edu.pku.sei.ra.ui/iot"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
